

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*fonts*/
@font-face { font-family: Adamina;
             src: url('fonts/Adamina-Regular.ttf');
}
/*End fonts*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.main-header{
    background-color: #363636;
    overflow: hidden;
}
.inner-header{
    max-width: 100%;
    width: 1263px;
    margin: 0 auto;
    padding: 15px 47px;
}
.fa{
    color: #828080;
    font-size: 21px;
    font-weight: 600;
}
.fa:hover{
    color: white;
}
.left-top-header {
    float: left;
}
hr {
    clear: both;
    border-color: #6a6a6a;
    float: left;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 10px;
}
.right-top-header {
    float: right;
    padding-top: 10px;
}

.top-header {
    float: left;
    width: 100%;
}

.social-header a {
    padding: 0 12px;
}

.tel-header {
    color: #fbfbfb;
    font-weight: 600;
    font-size: 17px;
    float: right;
    line-height: 21px;
}

.fa-phone {
    color: white;
    font-size: 17px;
    padding-right: 7px;
    margin-top: 4px;
    float: left;
}

.social-header {
    float: left;
    padding-right: 20px;
}

header .navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    min-height: 44px;
}

header .navbar .navbar-nav a {
    color: #d0d0d0;
    padding: 8px 10px;
}

header .navbar .navbar-nav li:first-child a {
}
.menu-container{
    padding-left: 0;
    text-transform: uppercase;
    font-size: 15px;
}

header .navbar .navbar-nav a:hover {
    color: #363636;
    background-color: white;
}

.tel-header .tel-num {
    display: block;
    float: right;
    font-weight: 700;
    font-size: 20px;
}
.lang-fr{
    background-image: url("../img/flag-fr.jpg");
    background-size: cover;
    width: 21px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
}
.lang-en{
    background-image: url("../img/flag-en.jpg");
    background-size: cover;
    width: 21px;
    height: 14px;
    display: block;
    float: right;
}

.left-bottom-header {
    float: left;
    margin-left: -10px;
}

.right-bottom-header {
    float: right;
}

.lang-block {
    float: right;
    padding-top: 10px;
}

header .navbar .navbar-nav a:focus {
    color: #d0d0d0;
    outline: none;
}

.bottom-header {
    float: left;
    width: 100%;
}
footer{
    float: left;
    width: 100%;
}
.top-footer{
    background-color: #262626;
    padding: 27px 0;
    float: left;
    width: 100%;
}
.bottom-footer{
    background-color: #000000;
    padding: 25px 0;
    clear: both;
    float: left;
    width: 100%;
}

.top-footer-menu li {
    float: left;
    color: #828080;
    list-style: none;
}

.top-footer-menu span {
    display: block;
    float: right;
}

.top-footer-menu a {
    float: left;
    color: #828080;
    font-weight: 400;
    font-size: 13px;
}

.top-footer-menu li::after {
    content: ".";
    padding: 0 17px;
    font-weight: 900;
    position: relative;
    top: -3px;
}

.top-footer-menu li.last:after {
    content: '';
    padding: 0;
}

.top-footer-inner {
    max-width: 100%;
    width: 1263px;
    margin: 0 auto;
    padding: 0 47px;
    overflow: hidden;
    line-height: 1;
}

.top-footer-menu {
    float: left;
    line-height: 21px;
    text-transform: uppercase;
}

.top-footer-menu ul {
    margin: 0;
    padding: 0;
}

.tel-footer {
    color: #828080;
}

.tel-footer .fa-phone {
    color: #828080;
}

.right-top-footer {
    padding: 0;
}

.top-footer-social {
    float: right;
}

.social-footer {
    padding-right: 55px;
}

.top-footer-menu.bottom-footer-menu {
    float: none;
    margin: 0 auto;
    overflow: hidden;
    max-width: 820px;
}

.block-slider {
    background-color: #C1C1C1;
    position: relative;
}
.inner-block-content{
    max-width: 1283px;
    width: 100%;
    margin: 0 auto;
    margin-top: -82px;
    overflow: hidden;
   padding-bottom: 50px;
}
.block-info-wrap{

    padding: 10px;
    float: left;      width: 33.33333%;
}
.block-info{

    width: 100%;
    background-color: #f6f6f3;
    height: 236px;
    padding: 20px 15px 15px 25px;
    

}
.block-info h3{
    width: 100%;

    margin: 0;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.block-info p{

    width: 86%;
    font-size: 16px;
    font-weight: 300;
    color: #807f7f;
    margin: 0;
    line-height: 19px;
}
.info-img{
    border-radius: 100%;
    background-image: url("../img/info-img1.jpg");
    background-position: -70px 0px;
    width: 145px;
    height: 145px;
    display: block;
}

.left-block-info {
    float: left;      
    width: 61%;
}

.right-block-info {
    float: right;
    padding-top: 55px;
    width: 39%;
}
.block-info-wrap2 .info-img{
    background-image: url("../img/info-img2.jpg");
    background-position: -51px -6px;
}
.block-info-wrap3 .info-img{
    background-image: url("../img/info-img3.jpg");
    background-position: -40px -7px;
}
.block-info-wrap4 .info-img{
    background-image: url("../img/info-img4.jpg");
    background-position: -44px -2px;
}
.block-info-wrap5 .info-img{
    background-image: url("../img/info-img5.jpg");
    background-position: -58px -4px;
}
.block-info-wrap6 .info-img{
    background-image: none;
    background-position: 0px 0px;
}
.left-block-info p a {
    color: #252525;
    font-weight: 400;
    margin-top: 23px;
    display: block;
}

.block-info .fa {
    color: #828080;
    font-size: 16px;      
    padding-right: 10px;      
    margin-top: 8px;      
    float: left;
}

.block-info .map-block {
    margin-top: 15px;
}

.block-info .fa-map-marker {
    font-size: 21px;
    margin-top: 2px;
}
.quote{
    font-family: Adamina;
    font-size: 65px;
    color: #828080;
    line-height: 0px;
}
.quote.start{
    line-height: 60px;

}
.quote.end{
    float: right;

    padding-right: 25px;
    margin-top: 30px;
}

.block-quote p {
    margin-top: -37px;
}

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
/*    background: url("../img/a21.png") center center no-repeat;*/
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; background: url("../img/arrow-left.png") center center no-repeat;}
.jssora21r { background-position: -63px -33px; background: url("../img/arrow-right.png") center center no-repeat;}
.jssora21l:hover { background: url("../img/arrow-left-hover.png") center center no-repeat;}
.jssora21r:hover { background-position: -183px -33px; background: url("../img/arrow-right-hover.png") center center no-repeat;}
/*.jssora21l.jssora21ldn { background-position: -243px -33px; }*/
/*.jssora21r.jssora21rdn { background-position: -303px -33px; }*/

.block-content {
    position: relative;
}

.text-block-slide {
    position: absolute;
    top: 38%;
    margin-top: -70px;
    right: 27%;
    color: #fbfbfb;
    text-align: center;
}

.text-block-slide h1 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
}

.text-block-slide p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 200;
    margin-bottom: 55px;
}

.text-block-slide .btn {
    background-color: #d9d8db;
    border-radius: 0;
    border: 1px solid #b3b2b5;
    color: #000000;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 16px 75px;
}

.gmnoprint.gm-style-cc {
    display: none;
}

.gm-style div:nth-child(2) {
    display: none;
}
.touch-header-content{
    display: none;
}

.menu-container #navbar {
    padding: 0;
}

.page-block-content {
    max-width: 1263px;
    width: 100%;
    padding: 0 46px;
    padding-bottom: 77px;
    padding-top: 84px;
    overflow: hidden;
    margin: 0 auto;
    height: 1531px;
}

.page-left-wrap {
    padding-right: 10px;      
    width: 238px;
    float: left;
    height: 100%;
}

.page-left-block {
    
      float: left;      max-width: 228px;      width: 100%;
      height: 100%;
}

.page-right-wrap {
    float: right;
    width: 900px;
    height: 100%;
}

.page-right-block {
    float: right;      max-width: 901px;      width: 100%;
    height: 100%;
}

.page-image-block img {
    width: 100%;
    height: auto;
}

.left-page-content {
    width: 611px;
    float: left;
    padding-right: 10px;
}

.right-page-content {
    width: 271px;
    float: right;
    background-color: #e8e7e5;
    padding: 22px 20px 16px;
    text-align: center;
    height: 100%;
}

.page-image-block {
    margin-bottom: 30px;
}

.left-page-content h2 {
    margin: 0;
    font-size: 30px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    position: relative;
}

.left-menu-block ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.page-left-block h1 {
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    line-height: 24px;
    margin-top: -45px;
    margin-bottom: 22px;
}

.left-menu-block ul li {
    position: relative;
}

.left-menu-block ul li a {
    color: #807f7f;
}

.left-menu-block ul li.current > a, .left-menu-block ul li.active a {
    color: #333333;
}

.left-menu-block ul li.active a:after {
    content: '';
    background-image: url("../img/menu-arrow.png");
    width: 7px;
    height: 11px;
    display: block;
    position: absolute;
    right: 0;
    top: 11px;
    pointer-events: none;
}

.left-menu-block ul li.current {
    padding-bottom: 26px;
}

.left-menu-block li {
    text-transform: uppercase;
}

.left-menu-block ul li ul li {
    text-transform: none;
}

.left-menu-wrap {
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    padding: 30px 15px 0 0;
    height: 100%;
}

.left-page-content h2:after {
    content: '';
    height: 1px;
    width: 80px;
    background-color: #d3d3d3;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
}

.left-page-content h2:before {
    content: '';
    height: 1px;      width: 80px;      background-color: #d3d3d3;      display: block;      position: absolute;      
    left: 0;      top: 50%;
}

.left-page-content p.center {
    text-align: center;
    margin: 0;
}

.left-page-content p {
    font-size: 16px;
    line-height: 24px;
    color: #807f7f;
    font-weight: 300;
}

.left-page-content .page-sep {
    margin-top: 60px;
    margin-bottom: 28px;
}

.left-page-content h3 {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.left-page-content ul {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #807f7f;
    list-style: none;
    padding: 0;
    margin-bottom: 23px;
}

.left-page-content ul li:before {
    content: '';
    background-image: url("../img/list-arrow.png");
    width: 11px;
    height: 11px;
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
}

.left-page-content ul li {
    position: relative;
    padding-left: 15px;
}

.left-page-content .video-block {
    margin-bottom: 32px;
}

.right-page-tel {
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.right-page-tel .fa-phone {
    float: none;
    color: #333333;
    font-size: 17px;
    padding-right: 13px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.right-page-content span {
}

.right-page-content a.btn {
    color: #333333;
    font-weight: 300;
    font-size: 15px;
    max-width: 232px;
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    line-height: 35px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}

.page-content-block .page-sep {
    border-top: 1px solid #d3d3d3;      border-bottom: 1px solid #d3d3d3;      height: 4px;
}

.right-page-content .page-sep {
    margin: 27px 0 25px 0;
}

.right-page-content h3 {
    margin: 0;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.right-page-content p {
    color: #807f7f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}

.navbar-nav li.current:after {
}

.navbar-nav>li {
}

.navbar-nav li.current a:after {
    content: '';
    height: 8px;      width: 100%;      display: block;      background-color: #ffffff;
    position: relative;
    bottom: -8px;
}

.page-image-block-touch, .right-page-content-touch {
    display: none;
}
.full-content {
    background-color: #fbfbfb;
}

.top-footer-menu a:hover {
    color: #fbfbfb;
    text-decoration: none;
}

a.btn:hover {
    background-color: #333333;
    color: #f0f0f1;
}

a.btn {
    border-radius: 0;
}

.text-block-slide .btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.left-menu-block ul li a:hover {
    text-decoration: none;
    color: #333333;
}

.lang-en:hover {
    background-image: url("../img/flag-en-hover.jpg");
}

.lang-fr:hover {
    background-image: url("../img/flag-fr-hover.jpg");
}

.page-content-wrap {
    height: 73.8%;
}

.page-content-block {
    height: 100%;
}